grafana:
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      nginx.ingress.kubernetes.io/rewrite-target: /$1
      nginx.ingress.kubernetes.io/use-regex:
    hosts:
    path: /grafana/?(.*)
    pathType: ImplementationSpecific

  grafana.ini:
    server:
      root_url: http://192.168.50.137:30081/grafana/
      serve_from_sub_path: true
    auth.anonymous:
      enabled: true
      org_role: Viewer

  persistence:
    enabled: true
    storageClassName: longhorn
    size: 10Gi

  sidecar:
    dashboards:
      enabled: true
      label: grafana_dashboard
      searchNamespace: ALL

  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Prometheus
          type: prometheus
          url: http://prometheus-server.monitoring.svc.cluster.local
          access: proxy
          isDefault: true

  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 128Mi